<% include partials/header %>

<h1> This is a Landing Page</h1>
<p> Welcome to Yelpcamp!!!!</p>


   <p><a class="btn btn-primary btn-lg" href="/register" role="button">Register</a></p>
    <p><a class="btn btn-primary btn-lg" href="/login" role="button">Login</a></p>
         
<!--<a href="/campgrounds"> Click here to see various campgrounds</a>-->

<% include partials/footer %>